//fonts

$mainFont:  'Rubik', sans-serif;

// colors

$mainBgColor:#111111;
$black:#000000;
$white:#ffffff;
$gold:#fcda28;
$orange:#fcb500;
$dark:#adadad;

//containers

$mainContainerWidth: 100vw;

//flex

$flex:flex;
$justifyContentCenter:center;
$justifyContentBetween:space-between;
$alignItemsCenter:center;