* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: $mainContainerWidth;
  overflow-x: hidden;
  height: 100%;
  font-family: $mainFont;
  background-color: $mainBgColor;
  position: relative;
  color: $white;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
